<section class="banner container flex bg-white">
    <div class="banner-wrapper flex flex-row">
        <div class="banner-text flex flex-col center-all">
            <div class="banner-header"><h2 class="fs-xm ff-inter fw-400">Currency Conversion for your apps with little lines of code</h2></div>
            <div class="banner-sub-header"><p class="fs-s ff-inter">With a few lines of code Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi amet provident saepe aut non a veritatis facilis, neque fuga consectetur.</p></div>
        </div>
        <div class="banner-img">
            <iframe width="560" height="315" src="/main.mov" frameborder="0" allowfullscreen></iframe>
            </iframe>        
        </div>
    </div>
</section>