<section class="footer-banner container ">
    <div class="footer-banner-wrapper flex flex-row">
        <div class="footer-banner-text flex flex-col">
            <h1 class="fs-l ff-inter">Efficiently integrate currency conversion into your apps with currencynet</h1>
            <button class="small-btn ff-roboto "><a href="/docs" class="text-white">Go to docs</a></button>
        </div>
        <div class="footer-banner-img"></div>
    </div>
</section>