<footer class="flex container">
    <div class="footer-wrapper flex flex-row">
        <div class="footer-logo flex">
            <!-- <a class="flex center-all" href="/">
                <img src="/icon-logo.svg" alt="icon logo" srcset="">
            </a> -->
            <!-- <p class="">&copy;</p> -->
        </div>
        <div class="footer-brief flex center-all flex-row ff-roboto fs-xs">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi deserunt, repudiandae voluptate inventore consequuntur aspernatur molestias sit autem ipsa unde?
            </p>
        </div>
        <div class="footer-quick-links flex center-all">
            <ul class="flex flex-col fs-xs ff-roboto fw-700">
                <li><a href="">Github</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Buy us a Coffee</a></li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>