<nav class="flex container ">
    <div class="logo flex center-all">
        <a href="/"><img src="/logo.svg" alt="logo of currencynet" srcset=""></a>
    </div>
    <ul class="nav-ul flex ff-roboto fw-500 fs-xs">
        <li><a href="/">HOME</a></li>
        <li><a href="/docs">DOCS</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="https://github.com/PTBYSR/currencynet" target="_blank">GITHUB</a></li>
    </ul>
</nav>