<%- include('../partials/header.ejs'); -%>

<body class="bg-white text-black">
    <%- include('../partials/nav.ejs'); -%>
<div class="about-header flex center-all container">
    <h1 class="ff-inter fs-l">The developers</h1>
</div>
<section class="dev container">
    <!-- <h1 class="ff-inter">The Lead developer</h1> -->
    <div class="lead-dev flex">
        <div class="lead-dev-img flex center-all">
            <div class="lead-dev-img-wrapper">
                <div class="lead-dev-img-circ">
                    <img src="" alt="">
                </div>
            </div>
        </div>
        <div class="lead-dev-roles ff-inter flex flex-col">
            <div>
                <p class="ff-inter fs-l fw-500">Michael Aniezofor</p>
                <p class="ff-inter fs-s">Lead developer</p>
            </div>
            <div>
                <p class="fs-s">Roles</p>
                <ul class="fs-s">
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                </ul>
            </div>
            <div class="lead-dev-social-links flex center-all">
                <a href=""><img src="/github.svg" alt="" srcset=""></a>
                <a href=""><img src="/twitter.svg" alt="" srcset=""></a>
            </div>
        </div>
        </div>
    </div>
    <div class="lead-dev flex">
        <div class="lead-dev-img flex center-all">
            <div class="lead-dev-img-wrapper">
                <div class="lead-dev-img-circ">
                    <img src="" alt="">
                </div>
            </div>
        </div>
        <div class="lead-dev-roles ff-inter flex flex-col">
            <div>
                <p class="ff-inter fs-l fw-500">Paul-Simon Emechebe</p>
                <p class="ff-inter fs-s">Frontend developer</p>
            </div>
            <div>
                <p class="fs-s">Roles</p>
                <ul class="fs-s">
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                </ul>
            </div>
            <div class="lead-dev-social-links flex center-all">
                <a href=""><img src="/github.svg" alt="" srcset=""></a>
                <a href=""><img src="/twitter.svg" alt="" srcset=""></a>
            </div>
        </div>
        </div>
    </div>
    <div class="lead-dev flex">
        <div class="lead-dev-img flex center-all">
            <div class="lead-dev-img-wrapper">
                <div class="lead-dev-img-circ">
                    <img src="" alt="">
                </div>
            </div>
        </div>
        <div class="lead-dev-roles ff-inter flex flex-col">
            <div>
                <p class="ff-inter fs-l fw-500">Almighty PG</p>
                <p class="ff-inter fs-s">Beast mode</p>
            </div>
            <div>
                <p class="fs-s">Roles</p>
                <ul class="fs-s">
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                </ul>
            </div>
            <div class="lead-dev-social-links flex center-all">
                <a href=""><img src="/github.svg" alt="" srcset=""></a>
                <a href=""><img src="/twitter.svg" alt="" srcset=""></a>
            </div>
        </div>
        </div>
    </div>
    
</section>
<%- include('../partials/footerBanner.ejs'); -%>
<%- include('../partials/footer.ejs'); -%>