.stars{
    height: 100%;
    border: 1px solid pink;
    position: absolute;
    top: 0;
    left: 0;
}
nav{
    height: 8vw;
    justify-content: space-between;
}

.logo img{
    width: 10vw;
    cursor: pointer;
}
.nav-ul{
    height: 100%;
    list-style: none;
    align-items: center;
}
.nav-ul li{
    margin-left: 2vw;
}
.nav-light li a {
    color: var(--black)
}
.nav-dark li a {
    color: var(--white)
}











/* -------------------------LANDING */
.landing{
    height: 40vw;
}
.landing-wrapper{
    height: 100%;
}
.landing-text{   text-align: center;
}







/* ---------------------BANNER */
.banner{
    height: 35vw;
}
.banner-wrapper{
    height: 100%;
    width: 100%;
}
.banner-img{
    width: 50%;
    height: 100%;
}
.banner-text{
    width: 50%;
    height: 100%;
}
.banner-sub-header p{
    width: 70%;
}






/* ------------------GET STARTED */
.get-started{
    height: 40vw;
}




/* -------------------FOOTER BANNER */
.footer-banner{
    height: 35vw;
}
.footer-banner-wrapper{
    height: 100%;
}
.footer-banner-text{
    width: 60%;
    height: 100%;
    justify-content: center;
    align-items: start;
}











/* --------------FOOTER */
footer{
    height: 30vw;
}
.footer-wrapper{
    height: 100%;
    width: 100%;
    justify-content: end;
    align-items: end;
}
.footer-brief{
    width: 25%;
    height: 100%;
}
.footer-quick-links{
    width: 25%;
    height: 100%;
}
.footer-quick-links ul{
    list-style: none;
}
.footer-quick-links a{
    text-transform: uppercase;
}
.footer-logo{
    height: 100%;
    width: 100%;
    justify-content: start;
}
.footer-logo img{
    width: 6vw;
}
.footer-logo p{
    color: rgba(255, 255, 255, 0.096);
}






/* ABOUT PAGE */
.lead-dev{
    height: 30vw;
    padding:3vw 4vw;
    margin-bottom: 4vw;;
}
.lead-dev-img{
    padding-right: 3vw;
}
.lead-dev-roles{
    justify-content: center;
    align-items: flex-start;
}
.lead-dev-roles ul{
    list-style: none;
}
.lead-dev-img-circ{
    width: 20vw;
    height: 20vw;
    border: 1px solid;
    border-radius: 100%;
}
.lead-dev-social-links img{
    width: 3vw;
}